component-template/flows.json
[{"id":"20a2fbf0.8578e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"809ceab2.afdc28","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"bfebab4b.8008b8","type":"ui_group","name":"Default","tab":"809ceab2.afdc28","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a431512.fa8f1c","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#dcbc65","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Aitheon Theme","default":"#4B7930","baseColor":"#dcbc65","baseFont":"\"ProximaNova\", \"Roboto\", \"Helvetica Neue\", Helvetica, Arial, -apple-system, BlinkMacSystemFont, sans-serif;","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#dcbc65","edited":true},"page-titlebar-backgroundColor":{"value":"#282828","edited":true},"page-backgroundColor":{"value":"#181818","edited":true},"page-sidebar-backgroundColor":{"value":"#282828","edited":true},"group-textColor":{"value":"#ead7a3","edited":false},"group-borderColor":{"value":"#2b2b2b","edited":true},"group-backgroundColor":{"value":"#1f1f1f","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#dcbc65","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"\"ProximaNova\", \"Roboto\", \"Helvetica Neue\", Helvetica, Arial, -apple-system, BlinkMacSystemFont, sans-serif;"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Aitheon App Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dc46d6f8.6c2518","type":"example-button","z":"20a2fbf0.8578e4","name":"example-button","group":"bfebab4b.8008b8","order":0,"width":0,"height":0,"passthru":false,"label":"Convert","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":320,"y":200,"wires":[["3aafda8e.489b26"]]},{"id":"5430d813.bdc428","type":"ui_text","z":"20a2fbf0.8578e4","group":"bfebab4b.8008b8","order":0,"width":0,"height":0,"name":"output","label":"output","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":200,"wires":[]},{"id":"fc7be058.32a6c","type":"ui_text_input","z":"20a2fbf0.8578e4","name":"input-string","label":"input string","tooltip":"","group":"bfebab4b.8008b8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":110,"y":200,"wires":[["dc46d6f8.6c2518"]]},{"id":"3aafda8e.489b26","type":"example-uppercase","z":"20a2fbf0.8578e4","name":"","x":550,"y":200,"wires":[["5430d813.bdc428"]]}]